*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.user{
  margin-top: 30px;
height: 15  0px;


}
.user .navbar{
   background-color: #0F7CF1;
   
}
.user .navbar ul li a:hover{
  color: #E8AE1E
}

.menu ul li a:hover{
  color: #6B96A6;
}
 
.menu ul li ul{
  z-index: 1;
  position: absolute;
    display:none;
    top: 185px;
    padding: 15px;
    border-radius: 15px;
    background-color: #f6f6f6;
  } 
.idare {
  background-color: #f9f9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 height: 120px;
  font-size: 25px;


}
.sifaris-div .sebet-div{
  margin-top: 20px;
  margin-bottom: 50px;
}
.new_mehsul{
  color: white;
  cursor: pointer;
  width: 200px;
  margin-top: 20px;
 margin-left: 20px;
}
.ag{
  color: white;
}