.main{
    width: 85%;
    margin:auto;
    box-sizing: border-box;
    margin-top: 20px;
}
.az{
    width: 100%;
  
   
}
.main-content{
    display: flex;
    align-items: center;
  justify-content: space-between;
    height: 50px;
}
.main-content h1{
  font-size: 35px;
  color: #62A7F3;
width: 500px;
 text-align: center;
  letter-spacing: 8px;
}
.daha{
   margin-right: 10px;
    padding: 8px;
    background-color:#62A7F3 ;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.xett{
    background-color: #d4d1d1;
    width: 350px;
    opacity: 0.5;
    border-radius:2px;
    border: 3px solid #d4d1d1;
}
.cards{
    margin-top: 20px;
    margin-bottom: 82px;
 padding: 20px;
    
    border: 1px solid rgb(196, 193, 193);
    display: flex;
    
    flex-wrap: wrap;
  
}
.card{
padding-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 214px;
    max-height: 360px;
   
   padding-bottom: 10px;
    border-radius: 5px;
 margin-bottom: 20px;
 margin-top: 20px;
 margin-right: 28px;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card-img{
   
    width: 212px;
    height: 220px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.card-img img{
    width: 190px;
    height: 220px;
    border-radius: 5px;
}
.heart{
    position: absolute;
    width: 28px;
    height: 28px;
    right: 20px;
    top: 20px;
    color: #bab7b7;
    font-weight: bold;
  
    cursor: pointer;
}
.heart-color{
  color: #e8ae1e;  
}
.heart img{
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.card-context{
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    color: #62A7F3;
    font-size: 15px;
    font-weight: 500;
}
.price{
   
    color: #62A7F3;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    justify-content: center;

}
.price img{
    cursor: pointer;
    width: 24px;
    height: 24px;
cursor: pointer;
margin-left: 20px;
}