@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');


footer#site-footer {


    background: #141a1d;
    padding: 1rem;

    color: #a8a8a8;
}

footer#site-footer a {
    color: #a8a8a8;
}

footer#site-footer a:hover {
    color: #00c3ce;
}

footer#site-footer h1 {
    color: #cecece;
}

footer#site-footer section.horizontal-footer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 2rem 0px 2rem;
    justify-content: space-evenly;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
    justify-content: center;
}

footer#site-footer #footer-logo {
    margin-right: auto;
    flex-shrink: 0;
}

footer#site-footer #footer-logo img {

    height: 60px;
}




footer#site-footer section.horizontal-footer-section#footer-middle-section {
    align-items: flex-start;
}

footer#site-footer .footer-columns {
    flex-basis: 18%;
    padding-right: 1rem;
}


footer#site-footer .footer-columns h1 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
}

footer#site-footer ul.footer-column-menu {
    margin: 0;
    padding: 0;
}

footer#site-footer ul.footer-column-menu li {
    list-style-type: none;
    margin-bottom: 0.68rem;
    font-size: 0.88rem;
}

footer#site-footer #footer-about a.footer-button {
    margin-top: 0.32rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    padding: 1.32rem 0;
    margin: 2rem 2rem 1.32rem 2rem;
    border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
    justify-self: flex-end;
    margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
    margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
    cursor: pointer;
}